doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul
      li
        a(href="/auth/registration") Reg
      li
        a(href="/auth/login") Log
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/auth/registration") Reg
